body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial,
        Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

/*  container  */
.container {
    background-image: url('./images/bg.jpg');
    background-size: 1440px 1315px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 75vh;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*  navbar  */
header {
    top: 20px;
    position: absolute;
    width: 85vw;
}
header ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}
header ul li {
    place-self: center;
    font-weight: 400;
    height: 28px;
    color: white;
    font-size: 12px;
    border-left: 1px solid #555555;
    padding: 8px 20px 2px 20px;
    background-color: #747474;
    cursor: pointer;
}
header ul li input {
    margin-top: 3px;
    background: #747474;
    border-radius: 12px;
    border: 0.5px solid rgb(99, 99, 99);
}
header ul li input {
    padding-left: 20px;
}
.searchBar {
    position: relative;
}
.search-img {
    width: 12px;
    height: 12px;
    padding: 5px;
    position: absolute;
    overflow: hidden;
}
#headerImg img {
    height: 22px;
    border-radius: 50%;
}
header ul li:hover {
    background: #636363;
}

/* main */
.title-image-container {
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title3 {
    width: 1000px;
    height: 90px;
    overflow: hidden;
}
#title3 img {
    width: 1000px;
    height: 104px;
}
#title1 {
    height: 30px;
    overflow: hidden;
}
#title1 img {
    width: 1000px;
}

/*   ads  */
.ads {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.ads img {
    height: 200px;
    width: 359px;
}

/*  footer  */
footer {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 30px 20px;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
}
footer div {
    margin: 10px;
}
footer:first-child {
    text-align: center;
}
.blue {
    color: rgb(0, 136, 204);
}
#side-map {
    margin: 10em;
}
